

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    align-self: flex-start;
    align-items: flex-start;
    margin-left: 25%;
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ecf0f1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.block {
    background-color: #34495E;
    border-radius: 20px;
    padding: 21px;
}
